In [1]:
import tarfile
import pandas as pd
import io

def ungzToDataframe(tarGzFile,columnNames):
    
    '''
    無法直接用 pandas 的read_csv(...compression='gzip') , 欄位會跑掉, 尚未找到好方法進行異常處理.
    df = pd.read_csv('M03A_20190227.tar.gz', compression='gzip', header=None, sep=',', quotechar='"', error_bad_lines=False)

    所以考慮土方法 解壓縮成一個一個 csv 再處理
    '''
    
    result=pd.DataFrame()
    tar = tarfile.open(tarGzFile, "r:gz")
    for member in tar.getmembers():
        f = tar.extractfile(member)

        if f is not None:
            content = f.read()
            df = pd.read_csv(io.StringIO(content.decode('utf-8')), header=None, sep=',')
            result=result.append(df, ignore_index=True)

    result.columns = columnNames
    return result

In [2]:
columnNames = ['VehicleType','DetectionTime_O', 'GantryID_O', 'DetectionTime_D', 'GantryID_D', 'TripLength', 'TripEnd', 'TripInformation'] #M06A
df = ungzToDataframe('M06A/M06A_20190107.tar.gz', columnNames)

In [3]:
df

,VehicleType,DetectionTime_O,GantryID_O,DetectionTime_D,GantryID_D,TripLength,TripEnd,TripInformation
0,31,2019-01-07 05:52:34,01F0099N,2019-01-07 05:58:21,01F0005N,10.50,Y,2019-01-07 05:52:34+01F0099N; 2019-01-07 05:54...
1,32,2019-01-07 05:04:50,01F2089N,2019-01-07 05:18:57,01F1906N,21.60,Y,2019-01-07 05:04:50+01F2089N; 2019-01-07 05:11...
2,31,2019-01-07 05:35:13,03F2231N,2019-01-07 05:45:16,03F2066N,22.60,Y,2019-01-07 05:35:13+03F2231N; 2019-01-07 05:37...
3,5,2019-01-07 05:00:15,03F2415N,2019-01-07 05:00:15,03F2415N,6.90,Y,2019-01-07 05:00:15+03F2415N
4,5,2019-01-07 05:50:26,03F1485N,2019-01-07 05:50:26,03F1485N,12.50,Y,2019-01-07 05:50:26+03F1485N
...,...,...,...,...,...,...,...,...
3432774,31,2019-01-07 07:49:15,01F1123S,2019-01-07 08:23:57,01F1725S,63.80,Y,2019-01-07 07:49:15+01F1123S; 2019-01-07 07:58...
3432775,31,2019-01-07 07:05:52,01F2156N,2019-01-07 07:29:44,03F2125N,40.95,Y,2019-01-07 07:05:52+01F2156N; 2019-01-07 07:10...
3432776,31,2019-01-07 07:53:15,01F0376N,2019-01-07 07:56:24,01F0339N,8.40,Y,2019-01-07 07:53:15+01F0376N; 2019-01-07 07:56...
3432777,31,2019-01-07 07:58:54,03F0301S,2019-01-07 08:31:34,03F0648S,41.50,Y,2019-01-07 07:58:54+03F0301S; 2019-01-07 08:04...
3432778,32,2019-01-07 07:27:00,01F2483S,2019-01-07 07:33:28,01F2603S,20.50,Y,2019-01-07 07:27:00+01F2483S; 2019-01-07 07:28...

In [5]:
columnNames = ['TimeInterval','GantryFrom','GantryTo', 'VehicleType', 'TravelTime', '交通量'] #M04A
df = ungzToDataframe('M04A/M04A_20191013.tar.gz', columnNames)

In [6]:
df

            TimeInterval GantryFrom  GantryTo  VehicleType  TravelTime  交通量
0       2019/10/13 11:10   01F0017N  01F0005N           31          50   97
1       2019/10/13 11:10   01F0017N  01F0005N           32          51   14
2       2019/10/13 11:10   01F0017N  01F0005N           41          49    4
3       2019/10/13 11:10   01F0017N  01F0005N           42           0    0
4       2019/10/13 11:10   01F0017N  01F0005N            5           0    0
...                  ...        ...       ...          ...         ...  ...
600475  2019/10/13 21:15   05F0438N  05FR143N           31         114    7
600476  2019/10/13 21:15   05F0438N  05FR143N           32         116    3
600477  2019/10/13 21:15   05F0438N  05FR143N           41           0    0
600478  2019/10/13 21:15   05F0438N  05FR143N           42           0    0
600479  2019/10/13 21:15   05F0438N  05FR143N            5           0    0

[600480 rows x 6 columns]